<h1>Post view</h1>
<strong>Title:</strong> <%=@post.title%><br>
<strong>Description:</strong><%=@post.description%><br>
<button style="background-color: blue; "><%=link_to "Return back",posts_path,style: "color: white; text-decoration: none;" %></button>